{{#partial "content"}}
    <h1>{{team.name}}</h1>
    <h3>Team Description:</h3>
    <h4>{{team.description}}</h4>
    <h3>Members:</h3>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Delete this member (no undo)</th>
        </tr>
        </thead>
        {{#each members}}
            <tbody>
            <tr>
                <th scope="row">{{name}}</th>
                <td><a class="btn btn-danger btn-sm" href="/teams/{{id}}/members/{{id}}/delete" role="button">DELETE this member (no undo)</a></td>
            </tr>
            </tbody>
        {{/each}}
    </table>
    <a class="btn btn-success" href="/teams/update" role="button">Edit team</a><br>
    <a class="btn btn-warning" href="/members/update" role="button">Edit member</a><br>
    <a class="btn btn-danger" href="/teams/{{team.id}}/delete" role="button">DELETE this team (no undo)</a>
{{/partial}}

{{> layout.hbs}}
