{{#partial "content"}}
    <h1>{{team.name}}</h1>
    <h3>Team Name:</h3>
    <h4>{{ team.name }}</h4>
    <h3>Team Description:</h3>
    <h4>{{team.description}}</h4>
    <h3>Member:</h3>
    {{#each team.members}}
        <h4>{{this}}</h4>
    {{/each}}
    <a href="/teams/{{team.id}}/update">Edit Team</a>
    <a href="/teams/{{team.id}}/member">Add Member</a>
{{/partial}}

{{> layout.hbs}}